# Avocado Data Analysis Notebook
ALT-TAB LABS LLP &copy; 2020 All Rights Reserved

In [17]:
# show files in current directory
import os
os.listdir()

['.DS_Store',
 'avocado_notebook.ipynb',
 '__pycache__',
 'pyctfsglib.py',
 'avocado-test.csv',
 '.ipynb_checkpoints',
 'avocado_package.zip',
 'AvocadoSubmissionFormat.png',
 'avocado-train.csv']

In [90]:
# load csvs
import pandas as pd
avo_TRAIN = pd.read_csv('avocado-train.csv', index_col='id')
avo_TEST = pd.read_csv('avocado-test.csv', index_col='id')

In [43]:
# View the data!
avo_TRAIN.head()
#avo_TRAIN.describe()

#avo_TEST.head()
#avo_TEST.describe()
#avo_TEST.boxplot()

,DataBatch,Date,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region,AveragePrice
id,,,,,,,,,,,,,
0,7,2016-11-06,183542.31,98949.98,22891.61,95.00,61605.72,43571.99,17499.01,534.72,conventional,NewOrleansMobile,1.49
1,24,2017-07-16,224434.92,42951.31,120360.02,131.85,60991.74,53141.81,3621.04,4228.89,conventional,HarrisburgScranton,1.38
2,51,2015-01-04,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.00,organic,Atlanta,1.76
3,22,2015-07-26,91825.07,1679.28,45615.48,741.77,43788.54,43788.54,0.00,0.00,conventional,BuffaloRochester,1.39
4,50,2015-01-11,54644.32,1491.88,33759.12,1325.17,18068.15,12165.94,5902.21,0.00,conventional,Pittsburgh,1.54

In [47]:
# Clean Data

# Drops missing values 
avo_TRAIN = avo_TRAIN.dropna(axis=0)

# Convert strings to numbers
avotypes = {"conventional": 0, "organic": 1}
avo_TRAIN.type = [avotypes[x] for x in avo_TRAIN.type]
avo_TRAIN.head()

# Read more advanced ways to clean data
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
# https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

,DataBatch,Date,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region,AveragePrice
id,,,,,,,,,,,,,
0,7,2016-11-06,183542.31,98949.98,22891.61,95.00,61605.72,43571.99,17499.01,534.72,0,NewOrleansMobile,1.49
1,24,2017-07-16,224434.92,42951.31,120360.02,131.85,60991.74,53141.81,3621.04,4228.89,0,HarrisburgScranton,1.38
2,51,2015-01-04,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.00,1,Atlanta,1.76
3,22,2015-07-26,91825.07,1679.28,45615.48,741.77,43788.54,43788.54,0.00,0.00,0,BuffaloRochester,1.39
4,50,2015-01-11,54644.32,1491.88,33759.12,1325.17,18068.15,12165.94,5902.21,0.00,0,Pittsburgh,1.54

In [49]:
# Select data for learning
features = ["TotalVolume", "TotalBags", "type"]

X = avo_TRAIN[features]
y = avo_TRAIN.AveragePrice

In [50]:
X.head()
#y.head()

    TotalVolume  TotalBags  type
id
0     183542.31   61605.72     0
1     224434.92   60991.74     0
2       3846.69    1408.19     1
3      91825.07   43788.54     0
4      54644.32   18068.15     0

# Regression Time!

In [56]:
# Sci Kit Learn! Scientific Computing library for python
from sklearn import *

In [72]:
# Pick the regression model we want to use

# Decision Tree Regression
# https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html
# model = tree.DecisionTreeRegressor(random_state=2020)

# Random Forest Regression
# https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html
model = ensemble.RandomForestRegressor(random_state=2020, n_estimators=100)

In [73]:
# Split training into some for training and some for testing
Xtrain, Xtest, ytrain, ytest = model_selection.train_test_split(X, y, test_size=0.3)

print("training split: ", len(Xtrain), "; test split: ", len(Xtest))

training split:  8941 ; test split:  3833

In [85]:
# Perform regression on the data
model.fit(X, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=2020,
                      verbose=0, warm_start=False)

In [86]:
model.score(Xtest, ytest)

0.9203496414920359

# Predict for Testing data

In [91]:
# Clean Data

# Drops missing values 
avo_TEST = avo_TEST.dropna(axis=0)

# Convert strings to numbers
avotypes = {"conventional": 0, "organic": 1}
avo_TEST.type = [avotypes[x] for x in avo_TEST.type]
avo_TEST.head()

# Read more advanced ways to clean data
# https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
# https://stackoverflow.com/questions/24458645/label-encoding-across-multiple-columns-in-scikit-learn

,DataBatch,Date,TotalVolume,4046,4225,4770,TotalBags,SmallBags,LargeBags,XLargeBags,type,region
id,,,,,,,,,,,,
0,21,2016-07-31,28969.34,80.77,27361.91,0.00,1526.66,1526.66,0.00,0.00,1,Chicago
1,19,2017-08-20,322962.89,5632.85,242365.82,2441.56,72522.66,22942.48,46083.51,3496.67,0,NorthernNewEngland
2,49,2017-01-22,155334.45,3657.79,74068.65,0.00,77608.01,27302.29,50305.72,0.00,1,GreatLakes
3,12,2015-10-04,10231.74,341.89,8519.00,0.00,1370.85,303.33,1067.52,0.00,1,CincinnatiDayton
4,10,2015-10-18,10652.02,6905.95,39.52,0.00,3706.55,3706.55,0.00,0.00,1,Houston

In [94]:
# Select features
XforPredictions = avo_TEST[features]
XforPredictions.head()

    TotalVolume  TotalBags  type
id
0      28969.34    1526.66     1
1     322962.89   72522.66     0
2     155334.45   77608.01     1
3      10231.74    1370.85     1
4      10652.02    3706.55     1

In [95]:
# Make Predictions!
yPredictions = model.predict(XforPredictions)
print("Predictions:", yPredictions)

Predictions: [1.8974 1.2125 1.6219 ... 1.0382 1.6519 1.6041]

In [102]:
# Save to CSV File!
output = pd.DataFrame({'id': XforPredictions.index, 'AveragePrice': yPredictions})
output.to_csv('avocado-submission.csv', index=False)
print(output)

        id  AveragePrice
0        0        1.8974
1        1        1.2125
2        2        1.6219
3        3        1.5770
4        4        1.3340
...    ...           ...
5470  5470        1.2406
5471  5471        1.3151
5472  5472        1.0382
5473  5473        1.6519
5474  5474        1.6041

[5475 rows x 2 columns]

# Upload for grading

In [103]:
# Download CTFSG Grader Libraries
import urllib.request, os
urllib.request.urlretrieve('https://raw.githubusercontent.com/alttablabs/ctfsg-utils/master/pyctfsglib.py', './pyctfsglib.py')
print('Downloaded pyctfsglib.py:', 'pyctfsglib.py' in os.listdir())

Downloaded pyctfsglib.py: True

In [105]:
# Connect to graders
import pyctfsglib as ctfsg
import random

USER_TOKEN = "GkrXGPebTrqorLDvjfUfuFiCENZlkOcoYLHJTpATYsIvcPsQwEJZReudzaHpYdQL" # You need to fill this up
GRADER_URL = random.choice([ # Check if these are correct GRADER URLS for the specific challenge
    "http://127.0.0.1:12345/"
])

grader = ctfsg.DSGraderClient(GRADER_URL, USER_TOKEN)

DSGraderClient: Successfully Connected!
[SERVER] MOTD: CHECK your USER_TOKEN and GRADER_URL HTTP address! I'm AVOCADO_PRICE TEST_GRADER_1

In [106]:
grader.submitFile('avocado-submission.csv')

ProofOfWork Challenge =>  ('CTFSGRB194f23752c19febb71ed220dd2918c2b', 22)
ProofOfWork Answer Found! =>  451842

'{"challenge":{"name":"Competition Challenge 6"},"id":"ck85yj1ym03f90781vtkuzo2q","status":"PARTIALLY_CORRECT","multiplier":0.4275,"submittedBy":{"username":"member"},"createdAt":"2020-03-24T13:51:07Z"}'